
/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

/* Asegurarnos de que el modal esté bien centrado */
.modal {
    margin: auto; /* Esto asegura un centrado vertical/horizontal automático */
    background: white;
    border-radius: 10px;
    color: rgb(51, 51, 51);
    max-height: 90vh; /* Limitar la altura del modal */
    max-width: 600px; /* Ajusta el ancho máximo */
    outline: none;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Mejora la sombra */
    overflow: auto; /* Para scroll interno */
}


.box-shadow{
    box-shadow: 0px 5px 5x rgba(0, 0, 0, 0.2);
}